In [1]:
import re

In [11]:
chat1 = 'codebasics: you ask lot of questions ðŸ˜   1235678912, abc@xyz.com'
chat2 = 'codebasics: here it is: (123)-567-8912, abc_435a@xyz.com'
chat3 = 'codebasics: yes, phone: 1235678912 email: abc@xyz.com'

In [12]:
pattern = '\d{10}|\(\d{3}\)-\d{3}-\d{4}'
matches = re.findall(pattern,chat1+chat2+chat3)
matches

['1235678912', '(123)-567-8912', '1235678912']

In [13]:
pattern1 = '[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z]+'
matches = re.findall(pattern1,chat1+chat2+chat3)
matches

['abc@xyz.comcodebasics', 'abc_435a@xyz.comcodebasics', 'abc@xyz.com']

In [14]:
chat1='codebasics: Hello, I am having an issue with my order # 412889912'
chat2='codebasics: I have a problem with my order number 412889422'
chat3='codebasics: My order 4128812412 is having an issue, I was charged 300$ when online it says 280$'

pattern = 'order[^\d]+(\d+)'
matcher = re.findall(pattern,chat1+chat2+chat3)
matcher

['412889912', '412889422', '4128812412']

In [15]:
# INformation scraping
text='''
Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa (1971â€“present)
Canada (1971â€“present)
United States (2002â€“present)
Education	University of Pennsylvania (BS, BA)
Title	
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)	
Justine Wilson
â€‹
â€‹(m. 2000; div. 2008)â€‹
Talulah Riley
â€‹
â€‹(m. 2010; div. 2012)â€‹
â€‹
â€‹(m. 2013; div. 2016)
'''

In [25]:
pattern = 'age\s+(\d+)'
matcher = re.findall(pattern,text)
matcher[0]

'50'

In [26]:
pattern = 'Born\s+([^\n]+)'
matcher = re.findall(pattern,text)
matcher[0]

'Elon Reeve Musk'

In [27]:
pattern = 'Born.*\n(.*)\('
matcher = re.findall(pattern,text)
matcher[0].strip()

'June 28, 1971'

In [28]:
pattern = 'Born.*\n.*\s+([^\n]+)'
matcher = re.findall(pattern,text)
matcher[0].strip()

'Pretoria, Transvaal, South Africa'

In [31]:
def get_pattern_match(pattern, text):
    matches = re.findall(pattern, text)
    if matches:
        return matches[0]

In [32]:
def extract_personal_information(text):
    age = get_pattern_match('age (\d+)', text)
    full_name = get_pattern_match('Born(.*)\n', text)
    birth_date = get_pattern_match('Born.*\n(.*)\(age', text)
    birth_place = get_pattern_match('\(age.*\n(.*)', text)
    return {
        'age': int(age),
        'name': full_name.strip(),
        'birth_date': birth_date.strip(),
        'birth_place': birth_place.strip()
    }

In [33]:
extract_personal_information(text)

{'age': 50,
 'name': 'Elon Reeve Musk',
 'birth_date': 'June 28, 1971',
 'birth_place': 'Pretoria, Transvaal, South Africa'}

In [34]:
text = '''
Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 64)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Nationality	Indian
Alma mater	
St. Xavier's College, Mumbai
Institute of Chemical Technology (B.E.)
Stanford University (drop-out)
Occupation	Chairman and MD, Reliance Industries
Spouse(s)	Nita Ambani â€‹(m. 1985)â€‹[3]
Children	3
Parent(s)	
Dhirubhai Ambani (father)
Kokilaben Ambani (mother)
Relatives	Anil Ambani (brother)
Tina Ambani (sister-in-law)
'''

In [35]:
extract_personal_information(text)

{'age': 64,
 'name': 'Mukesh Dhirubhai Ambani',
 'birth_date': '19 April 1957',
 'birth_place': 'Aden, Colony of Aden'}